section {
    height: 65vh;
}

#about {
    position: relative;
}

.info-containers {
    flex-direction: column;
    align-items: center;
}

.details-container {
    overflow: auto;
}

#about-text {
    font-size: large;
}

.pictures {
    display: flex;
}

.details-container {
    max-height: 20rem;
}