section {
    height: 80vh;
}

.sub-title {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.search {
    background: transparent;
    flex: 1;
    border-radius: 2rem;
    width: 12rem;
}

.submit {
    display: none;
}