section {
    padding-top: 4vh;
    height: 80vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;  
    gap: 4rem; 
    height: 80%;
}

#home {
    position: relative;
}

.section_text {
    text-align: center;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.sub-title {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.info-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.info-containers {
    display: flex;
}

.info-pic {
    border-radius: 2rem;
    height: 350px;
    width: 350px;
    margin: auto 0;
}

.details-container {
    padding: 1rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.search {
    background: transparent;
    flex: 1;
    border-radius: 2rem;
    width: 12rem;
}

.submit {
    display: none;
}