#playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#playlist-title {
    font-size: 3rem;
}

#playlist ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}