.info-containers {
    flex-direction: column;
    align-items: center;
}

#about-text {
    font-size: large;
}

.pictures {
    display: flex;
}

.list {
    list-style: none;
}

#song-list {
    display: flex;
    flex-direction: column;
}

#song-list .details-container{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
} 