section {
    height: 65vh;
}

.info-containers {
    flex-direction: column;
    align-items: center;
}

#about-text {
    font-size: large;
}

.pictures {
    display: flex;
}

.list {
    list-style: none;
}


