@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    section {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .info-containers {
        margin-top: 0;
    }
    .info-containers {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .foot-nav {
        display: flex;
    }
    .info-containers {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .title {
        font-size: 2rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 1rem;
    }
    footer {
        height: 40vh;
    }
    .nav-links li a {
        font-size: 1rem;
    }
}